


/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
}

/* Mobile styles */
@media screen and (max-width: 800px) {

body{
    /* border: solid red 10px; */
}
.hamburger{
    position: absolute;
    top: 20px;
    right: 40px;
}
  nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }

  .normal {
    display: none; /* hide Get Started on mobile (optional) */
  }

  /* ======================= */
  .main-h {
overflow: hidden;
    text-align: center;
}
  .main-h h1 {
    font-size: 28px;
    word-spacing: 2px;
}
.main-h p {
    font-size: 15px;
    font-weight: 600;
}
.main-h img {
    height: 100%;
    width: 100%;
    min-width: 800px;
    object-fit: cover;
    position: relative;
    left: -150px;
}
/* ================================= */
.hero-sec{
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.hero-img {
display: none;

}
.hero-img img{
  border-radius: 0px;
    /* filter: brightness(50%); */
}
.hero-details{
    position: relative;
    text-align: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.687);
    width: 100%;
    margin: 50px 0;
}
.hero-details h1 {
    margin: 40px 0 30px;
    font-size: 30px;
}
.hero-details p {
    font-size: 16px;
    margin: 30px auto;   

    width: 80%;
}
/* ================================= */
.work_container {
    width: 90%;
    height:400px;
    margin: 0 auto;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    justify-content:flex-start;
}
.work_container .card {

    min-width: 300px;
    margin: 1px;
    height:95%;
}
.card p {
    font-size: 13px;
    word-spacing: 1px;
}
/* --------------------------- */
.info-section {

height: 550px;
padding: 0;
align-items: flex-start;
position: relative;
}
.info-section .image-content{

 height: 500px;
padding: 0;
overflow: hidden;
position: absolute;
top: 10px;
left: -10px;

bottom: 110px;
}
.info-section .image-content img {
    height: 500px;
        /* border: solid red 3px; */
    padding: 20px 0;
    width: 400px;
    position: relative;
    left: -200px;
    border-radius: 0% ;
     margin-top: 0;
}
.info-section .text-content {

    width: 60%;
    text-align: center;
    /* margin-top: 20px; */
    background-color: white;
   height: 500px;
   overflow: auto;
    /* border: solid red 3px; */
    position: absolute;
    top: 10px;
}
.info-section h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;

}
.info-section p {
    font-size: 14px;
    line-height: 1.2;
    word-spacing: 2px;
    margin: 0 20px;
    text-align: start;


}
/* ============================== */
.news-cont {
    overflow: scroll;
    overflow-x: hidden;
}
.news-cont > div{
    width: 100%;
 
    margin-bottom: 15px;
}
/* ===================== */
.contact-dis-cont a {
    width: 40%;
    height: 170px;
    background: var(--sec-col);
    padding: 15px;
    border-radius: 15px;
    transition: all 1.5s;
    margin-bottom: 20px;
}
.contact-dis {
    height: 90vh;
    padding-top: 40px;
}
.contact-dis-cont {
    height: 55%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.contact-dis-cont h3 {
    margin: 10px 0 0PX;
    font-size: 14px;
}
.contact-dis-cont p {
    margin-top: 10px;
    color: var(--primary);
    font-size: 12px;

/* ====================================== */
}
.accord-wrapper {
    display: flex;
   flex-direction: column;
    gap: 50px;
    text-align: left;
   
}
.accord-wrapper .image-section{
  overflow: hidden;
  height: 200px;
}
.accord-wrapper .image-section img{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 100px;
}
.accord-wrapper .accordion{
    order: 1;
    width: 100%;
}
/* ------------------------------------------------------------------- */
.footer-cont {
flex-wrap: wrap;
}
.footer-cont div:not(.base) {
    width: 50%;
    height: 230px;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
   
}
footer{
    font-size: 14px;
}
/* footer >*> *{
    /* border: solid red;
} */
.base {
    padding: 15px ;
}
/* =========================================================================================== */
                                        /* about page  */
/* =========================================================================================== */
.about-hero h1 {
    font-weight: 600;
    font-size: 35px;
}
.about-hero {
 
    padding: 100px 0;
    width: 97%;
    height: 70vh;
   
}
.para {
    margin: 10px auto;
    font-size: 17px;
    width: 90%;
}
.mission_para {
    text-align:start;
    width: 90%;
}
.abt {
    width: 90%;
    max-width:450px;
    height: auto;
    margin: 50px auto;
    position:static;
    flex-direction: column;
    justify-content: start;
}
.abt img {
    margin-left: 0px;
    width: 100%;
    height: 350px;
}
.abt_detail {

    width: 90%;
    height: auto;
    padding: 20px 0;
}
.staff_cont {
    display: flex;
        min-width:unset;
    width: 100%;
    max-width:350px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
    margin: 50px auto 0px;
}
.CHIEF {
    order: -1;
    transform: scale(1);
}
.stf {
    width: 100%;
}
.stf img {
    height: 400px;
}


.story > div {
    width: 100%;
    height: 600px;
}
.story > div:nth-child(2) {
    height: 300px;

}
 .story > div:nth-child(3){
    height: 300px;
    order: 2;
 }
.story img {
    width: 100%;
    height: 100%;
    object-fit:unset;
    border-radius: 10px;
}
.core-values {
    margin: 50px auto;
    width: 90%;
    gap: 45px;
    text-align: left;
    flex-direction: column;
}
.core-values div {
    width: 100%;
    border: solid 1px #ccc;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

/* =========================================================================================== */
                                        /* services page  */
/* =========================================================================================== */
.s-head h1, .sec-head h1{
    font-size: 20px;
    font-weight: 600;

}
.services-cont {
flex-direction: column;
}

.services-cont>div {
    width: 100%;
    height: auto;

    border-radius: 12px;
    margin-bottom: 50px;
}
.services strong {
    font-size: 15px;
}
.booking-section {
    padding: 10px;
}

.booking-section h2{
    font-size: 30px;
}
.booking-container {
   flex-direction: column;
}
.form-side {
 width: 100%;
 flex: unset;
 padding: 20px;
}
.hours-side{
   padding: 20px;  
}


/* =========================================================================================== */
                                        /* staffs page  */
/* =========================================================================================== */


.doctors-section {
    margin: 12vh 20px 20px;
}
.doctors-grid {
    display: flex;
 flex-direction: column;
}


}

/* Tablets (768px to 1024px) */
/* @media screen and (min-width: 768px) and (max-width: 1024px) {


} */