    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
        
        }

        body{
           font-family: "Archivo Black", sans-serif;
         background-color: white;

        }
        @font-face {
            font-family:"winter" ;
            src: url(./assets/fonts/RushDriver-Italic.otf);
        }
        :root{
            --main-color: #000;
            --primary:#161E54;
            
            --secondary:#159EEC;
            --sec-col:lightblue;
        }
        header{
            width: 100%;          
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 10vh;
             background-color:var(--sec-col);
            position: fixed; top: 0;
            z-index: 999;
            padding: 10px 50px;
        }

        
        .H-txt{
            font-size: 30px;
            line-height: 1.2;
            /* letter-spacing: 5px; */
          font-family: 'Poppins', sans-serif;
            color: var(--primary);
        }
         .SUB-text{
            font-size: 17px;
            line-height: 1.4;
            letter-spacing: 2px;
            font-weight: 600;
                color: #333;
            text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.sec{
    background-color:white;
}
.sec-colo{
                  color: white;
           background-color:var(--sec-col);
           border-radius: 20px;
           margin:0 4%;
}
.d-flexx{
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
.flxx-col{
        flex-direction: column;
    }
header a{
            color:var(--primary);
            font-weight:semibold;
            font-size: 19px;
            font-weight: 400;
            line-height: 32px;
}
header ul{
            gap: 30px;
}
.icons-l{
            height: 50px;
}
.normal, .sq-btn{
            border-radius: 7px;
            border: none;
            background-color: var(--primary);
            color: white;  
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
                padding: 10px;
                transition: all 1s ease;
}
.normal:hover, .sq-btn:hover{
           border: solid var(--primary) 1px;
           background-color: white;
            color: var(--primary); 
}
.sq-btn{
            border-radius: 0;
             width: auto;
            height: auto;
            padding: 10px;
}

        /* ===============landing sec====== */
                .main-h{
            height: 100vh;
            width: 100%;
   

        }

        .main-h img{
            height: 100%;
            width: 100%;
        }
        .main-h h1{
            font-family: "winter";
            font-size: 60px;
            word-spacing: 20px;
            letter-spacing: 6px;
            color: var(--primary);
        }
        .main-h p{
            font-size: 25px;
            font-weight: 600;
            color:var(--mordern);
        
        }
        .main-h div{
            position: absolute; 
            bottom: 30px;
            padding: 30px;
            margin: 0;
            
        }
        /* ===================== hero section ===================== */
        .hero-sec{
            width: 100%;
            height: 140vh;
            gap: 1%;
         
        }
        .hero-details{
            margin-left: 30px;
           width: 50%;
            height: 70%;
        }
    
         .hero-details h1{
            margin: 40px 0 30px;
            font-size: 45px;
         }

        .hero-details h2{
            font-family:"winter", sans-serif;
            font-style: normal;
            font-size: 17px; 
            color: var(--primary);
            text-decoration: overline;
            letter-spacing: 1.5px;
             margin: 50px 0 20px;
        }
    
       .hero-details h3{
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 2px;
            color: var(--mordern);
           
        }
        .hero-details p{
            width: 80%;
        }
        .hero-details:hover button{
        border: solid var(--primary) 1px;
        background-color: white;
        color: var(--primary); 
        }
        
        .hero-img{
            height: 85%;
            width:50%;
   
         
            
          
        } 
        .hero-img img{
            width: 100%;
            height: 100%;
           border-radius: 50% 0% 0% 50%;
        }
         .title, h3 span{
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: var(--mordern);
     
        }
        .main-title , .title{
            text-align: center;
        }
        .main-title{
            color: var(--primary); font-size: 30px;
        }

        /* =============== info section ================= */

/* Row Logic */
.info-section .row {
   
    height: 130vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
     
}


.info-section .text-content{
width: 40%;
height: 100%;
position: absolute;right: 5%;
z-index: 3;

} 
.info-section .image-content {
            height: 100%;
            width:50%;
            padding: 50px 0;
}
.info-section .image-content img{
    height: 100%;
    width: 100%;
      border-radius: 0% 50% 50% 0%;
}



.info-section h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Button Style */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: background 2s;
}

.text-content:hover .btn{
    background-color: #f0f7ff;
    color: var(--primary);
}

/* Image Styles */
.image-content img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Slight rounding like the screenshot */
    display: block;
}


        /* ================ intro ========================== */
.intro .cont{
    height: 300px;
    width: 500px;
    border: solid 1px var(--secondary);
    border-radius: 5%;
    padding: 20px;
    position: absolute;
    top: 10px; left: 20px;
    background-color: white;
}
   .intro{
        position: relative;
    }
    .intro>img{
 
        width: 100%;
    }
    .intro p{
        text-align: justify;
        margin-bottom: 30px;
    }

        /* ================ work ========================== */

.work{
padding: 50px 0  ;
margin-bottom: 20px;
height: auto;
}
 .work h2{
      color: var(--primary);
      text-align: center;
  
    }
.work p{
    color:white;
}

     .work_container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        max-width: 1400px;
        display: flex;
        flex-wrap:wrap ;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }



    .card {
      width: 350px;
      height: 400px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      cursor: pointer;
       gap: 5%;
    }

    /* Image always at 50% brightness */
    .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
     
    }

    /* Title always visible */
    .card h2 {
      position: absolute;
      top: 20px;
      width: 100%;
      text-align: center;    
      color: white;
      font-size:19px;
      margin: 0;
      text-shadow: 0 2px 5px rgba(0,0,0,0.8);
      z-index: 2;
}


    /* Paragraph hidden below initially */
    .card p {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 25%;
      font-size:15px;
      word-spacing: 1px;
      padding:7px 20px;
      text-align: justify;
      color: white;
      backdrop-filter: blur(1.5px) brightness(50%); 
    }





        /* ===================
        
        
        ================================== */
        

       
        .sm-icon{
            height: 15px; width: 15px;
        }

/* ================== services ================= */
        .s-main{
            
            height: 80vh;
            width: 80%;
            margin: 20px auto 80px;
         
        }
        .s-main .s-details{
        padding:  0 20px;
        margin-top: 90px;
        }
       
          .s-main .s-list li{
            margin: 10px 0;
          }
        .s-sidebar{
      
            width: 15%;
            height: 100%;
        }
           .s-sidebar div{
            border: solid var(--primary-border) 1px;
            width: 100%;
            height: 23%;
            flex-direction: column;
            justify-content: center;
            color: var(--primary);
            font-weight: 500;
            gap: 20px;
           }
        .s-details{
            width: 55%;
            height: 100%;  
    
        }
        .s-details .s-list{
         padding:10px 10% ;
            gap: 40px;
        }
        .s-details div{
            text-align: justify;
            line-height: 1.7;
            letter-spacing: 1px;
        }
        .s-img{

            width: 30%;
            height: 100%;   
        }
        .s-img img{
            width: 100%;
            height: 50%;
        }
         .s-sidebar div:hover{
             background-color: var(--primary);
            color: var(--mordern);  
         }
        .s-sidebar button{
            width: 100%;
            height: 40px;
            font-weight: 600;
            background-color: var(--primary);
            color: var(--mordern);
            border: none;
        }
        .s-sidebar:hover button{
            background-color: var(--mordern);
            color: var(--primary);  
        }

        /* ================================= news section ========================================= */ */
      .newsec{
        padding: 50px 0;
     height: auto;
    }
    .news-cont{
        height:500px;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 5px;
   
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 15px;

    }
    .news-cont>div{
      
        background-color: white;
        border-radius: 10px;
        width: 48%;
        height: 45%;
    }
    .news-cont img{
        height: 100%;
        width: 40%;
    }
    .news-details{

        width: 59%;
        height: 100%;
        padding: 10px;
        flex-direction: column;
        align-items:start;
        justify-content: center;
        gap: 20px;
    }
    .news-details h4{
        color: var(--secondary);
        font-size: 12px;
    }
    .news-details p{
        color: var(--primary);
        /* font-size: 14px; */
        font-weight: 600;
      }
    .news-details:hover button{
        background-color: var(--primary);
        color: var(--secondary);
    }



 /* =================================== frequently asked questions ========================================= */

.faq-section {
    padding: 30px ;
    text-align: center;
    margin-bottom: 60px;
}

.back-arrow {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px auto;
    color:var(--primary);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.back-arrow:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}


/* FAQ and Image Layout */
.accord-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    text-align: left;
    border: 1px solid var(--primary-border);
}

.faq-cont {
    flex: 1;
}

.faq-item {
    border: 1px solid var(--primary-border);
    padding: 18px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    font-size: 14px;
    cursor: pointer;
}

.faq-item i {
    color: var(--primary);
    font-size: 12px;
}



.accord-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

  .accordion {
    max-width: 600px;
    width: 50%;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
    gap: 40px;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
  }

  .accordion-header {
    width: 100%;
    background: none;
    border: none;
    padding: 16px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }

  .accordion-header::after {
    content: "+";
    position: absolute;
    right: 16px;
    font-size: 18px;
    transition: transform 0.3s;
  }

  .accordion-header.active::after {
    content: "−";
  }

  .accordion-body {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: max-height 0.3s ease;
    background-color: var(--primary);
  }

  .accordion-body p {
    margin: 16px 0;
  }

  .accordion-body.open {
    padding: 16px;
  }


/* ==========================contact=== */

    .contact-dis{
        height: 70vh;
        padding-top: 40px;
    }
    .contact-dis-cont{

        height: 55%;
        width: 80%;
        margin: 0 auto;

    }
    .contact-dis-cont div{
        width: 23%;
        height: 200px;
        background: var(--sec-col);
        padding: 20px;
        border-radius: 15px;
        transition: all 1.5s;
    }
     .contact-dis-cont div:hover{
        background-color: var(--primary);
        color: white;
     }
      .contact-dis-cont div:hover h3,  .contact-dis-cont div:hover p,  .contact-dis-cont div:hover i{
        color: white;
      }
    .contact-dis-cont h3{
        color: var(--primary);
        margin: 10px 0 20PX;
    }
     .contact-dis-cont p{
       margin-top: 10px;
        color: var(--primary);
    }
    .contact-dis-cont div:hover i{
               color: var(--primary);

    }
    .icons-bs{
        font-size: 32px;
        color: var(--primary);
                transition: all 1.5s;
    }
    .contact-dis-cont div:hover .icons-bs{
        background-color: var(--primary);
        color: white;
     }



        /* =================================== footer ========================================= */
    footer{
        width: 100%;
        background-color: var(--primary);
        color: white;
        box-shadow: 0 6px 15px var(--primary);
        transition: all 2s;
    }
    footer:hover{
    
        color: var(--primary);
        background-color:var(--sec-col);
    }
    .footer-cont{

        display: flex;
        justify-content:center;
        padding: 40px;
    }
    .footer-cont div:not(.base){
        width: 25%;
        height: 150px;
        /* border: solid red; */
        display: flex;
        flex-direction:column ;
        justify-content: start;
        align-items: center;
    }
        .footer-cont div li{
            margin-bottom: 10px;
        }
    .base{
        width: 100%;
        height: 10vh;
        padding: 15px 60px;
        border-top: solid var(--secondary) 1px;
         background-color: var(--primary);
                transition: all 2s;
    }
          footer:hover .base{
        color: var(--primary);
        background-color:var(--sec-col);
        border-top: solid white 1px;
    }
    footer input{
        font-size: 16px;
        padding: 20px;
        width: 250px;
        border: none;
        outline: none;
    }
      footer:hover input{
        border: solid var(--primary) 1px;
      }


    .news-inp ,.news-inp::placeholder{
        font-weight: 500;
        color:var(--primary);
    }
    .base img{
        margin-right: 20px;
    }
     /* ================================================================= */
      /* ================================================================= */

      /* ================================================================= */
        /* ==============================blog page ================================ */
    
        .blog{
            height: auto;
            padding:0 5%;
            width: 100%;
            justify-content: center;
        }
        .blog main{
            height: auto;
            width: calc(100% - 30%);
            padding: 0 20px;
      
        }
        .blog aside{
            height: 100vh;
            width: 30%;
            align-self: flex-start;
            position: sticky;
            top: 0;
            padding:10px;
        }
        .blog-cont{
            height: auto;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 15px;
            background-color: white;
        }
        .blog-cont img{
           margin: 0 auto;
        }
        .rec-post h2, .news-del h2{
            color: var(--primary);
            margin-top: 5px;
            font-size: 20px;
        }
        .news-del P{
            margin: 15px 0px;
            line-height: 1.3;
            font-size: 15px;
        }
        .news-del blockquote{
            margin-top: 10px;
            justify-content: center;
            gap: 50%;
            font-size: 12px;
        }
        
 
               /* <!-- =================== aside for blog ======================================= --> */
               aside label{
                background-color: var(--primary);
                padding: 10px;
               }
               aside input{
                background-color: transparent;
                border:none;
                outline: none;
                width: 90%;
                height: 25px;
                color: white;
               }
               aside input::placeholder{
                    color: rgba(255, 255, 255, 0.829);
                  }
        .rec-post{
            padding: 20px;
            height: 70%;
            overflow-Y: auto;
            overflow-x: hidden;
              background-color:white;
            border-radius:0px 0px 10px 10px;
        }

        .rec-post > div{
            height: 100px;
            width: 100%;
            margin: 10px 0;
            margin-right: 20px;
        }
        .rec-post > div > img{
            width: 30%;
            height: 80%;
            margin-right: 5px;
            border-radius: 10px;
        }
             .rec-post > div > div{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-left: 5px;
                    gap: 20px;
             }
       
        .rec-post time{
            font-size: 12px;
            color: var(--secondary);
        }
        .rec-post h5{
            font-size: 12px;
        }
    
        .category {
            height: 21%;
              background-color:white;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px 30px;
            overflow-Y: auto;
            overflow-x: hidden;
        }

        .category li{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-bottom: 4px;
        }
        .category li h4{
            background-color: var(--secondary);
            color: white;
            padding: 2.5px 6px;
            border-radius: 50%;
            font-size: 12px;
        }
        .category .title{
            padding-bottom: 2px;
        }



